{
  "presets": ["next/babel"],
  "env": {
    "test": {
      "plugins": ["transform-dynamic-import"]
    },
    "e2e": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [["styled-components", { "ssr": true }]]
}
