{
  "root": true,
  "plugins": ["@typescript-eslint", "header"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off", //This one is to allow implicit type casting in functional components, otherwise we should use JSX.Element.
    "react/display-name": "off", //This rule is to avoid the warning of nexts dynamic components with displayName
    "@next/next/no-img-element": "warn", // Changed to warn since next Image component is bugged without sharp. From Next 11.2 on it will be fixed.
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "header/header": [2, "block", [
      "!",
      " * This file is part of the Stooa codebase.",
      " *",
      " * (c) 2020 - present Runroom SL",
      " *",
      " * For the full copyright and license information, please view the LICENSE",
      " * file that was distributed with this source code.",
      " "
    ], 2]
  },
  "ignorePatterns": ["node_modules/", ".next/", "locales/", "ui/animations"],
  "settings": {
    "import/resolver": {
      "alias": [
          ["@/jitsi]", "./lib/jitsi-modules]"],
          ["@/graphql]", "./lib/gql]"],
          ["@/*]", "./*]"]
      ]
    }
  }
}
