# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
.coverage
.nyc_output
coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
design-tokens.config.json
designtokens.config.json

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# cypress
tests/e2e/screenshots
tests/e2e/videos
cypress/downloads/downloads.html

# typescript
tsconfig.tsbuildinfo
