{
  "all": true,
  "reporter": [
    "html",
    "clover"
  ],
  "exclude": [
    "**/__setups__/**",
    "**/__tests__/**",
    "**/public/vendor/**",
    "**/{jest,next,prettier}.config.js",
    "**/**.d.ts"
  ]
}
