# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

parameters:
    locale: en
    locales: [ en, es, ca, fr, id ]
    container.dumper.inline_factories: true
    container.dumper.inline_class_loader: true
    jaas_activated: '%env(JAAS_ACTIVE)%'
    world_cafe: '%env(WORLD_CAFE)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Vendors
    Gedmo\Timestampable\TimestampableListener:
        tags: [doctrine.event_subscriber]
        calls:
            - [setAnnotationReader, ['@annotation_reader']]

    Gedmo\Tree\TreeListener:
        calls: [[setAnnotationReader, ["@annotation_reader"]]]
        tags: [doctrine.event_subscriber]
