# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

services:
    # BACKEND
    backend:
        build:
            context: backend
            target: fpm-dev
        depends_on:
            - mysql
        volumes:
            - ./backend:/usr/app/:cached
            - /usr/app/var/
            - ./backend/.docker/app-dev/extra.ini:/usr/local/etc/php/conf.d/extra.ini
            - ./backend/.docker/app-dev/www.conf:/usr/local/etc/php-fpm.d/www.conf
        networks:
            meet.jitsi:
                aliases:
                    - ${BACKEND}
    backend-nginx:
        image: nginx:1.20
        depends_on:
            - backend
        ports:
            - 8080:80
            - 8443:443
        volumes:
            - ./backend/public:/usr/app/public/:cached
            - ./backend/.docker/nginx-dev/default.conf.template:/etc/nginx/templates/default.conf.template
            - ./.certs:/usr/app/.certs/:ro,cached
        environment:
            - BACKEND
        networks:
            meet.jitsi:

    # FRONTEND
    frontend:
        build:
            context: frontend
            target: next-dev
        ports:
            - 3000:3000
        volumes:
            - ./frontend:/usr/app/:cached
            - /usr/app/.next/
            - /usr/app/node_modules/
        networks:
            meet.jitsi:
                aliases:
                    - ${FRONTEND}
    frontend-nginx:
        image: nginx:1.20
        depends_on:
            - frontend
        ports:
            - 8380:80
            - 8343:443
        volumes:
            - ./frontend/.docker/nginx-dev/default.conf.template:/etc/nginx/templates/default.conf.template
            - ./.certs:/usr/app/.certs:ro,cached
        environment:
            - FRONTEND
        networks:
            meet.jitsi:

    # JITSI
    xmpp:
        image: jitsi/prosody:stable-6726-2
        volumes:
            - ${CONFIG}/prosody/config:/config:Z
            - ${CONFIG}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z
        environment:
            - AUTH_TYPE
            - DISABLE_POLLS
            - ENABLE_AUTH
            - ENABLE_AV_MODERATION
            - ENABLE_BREAKOUT_ROOMS
            - ENABLE_GUESTS
            - ENABLE_LOBBY
            - ENABLE_XMPP_WEBSOCKET
            - GLOBAL_CONFIG
            - GLOBAL_MODULES
            - JIBRI_RECORDER_USER
            - JIBRI_RECORDER_PASSWORD
            - JIBRI_XMPP_USER
            - JIBRI_XMPP_PASSWORD
            - JICOFO_AUTH_USER
            - JICOFO_AUTH_PASSWORD
            - JICOFO_COMPONENT_SECRET
            - JIGASI_XMPP_USER
            - JIGASI_XMPP_PASSWORD
            - JVB_AUTH_USER
            - JVB_AUTH_PASSWORD
            - JWT_APP_ID
            - JWT_APP_SECRET
            - JWT_ACCEPTED_ISSUERS
            - JWT_ACCEPTED_AUDIENCES
            - JWT_ASAP_KEYSERVER
            - JWT_ALLOW_EMPTY
            - JWT_AUTH_TYPE
            - JWT_TOKEN_AUTH_MODULE
            - LOG_LEVEL
            - LDAP_AUTH_METHOD
            - LDAP_BASE
            - LDAP_BINDDN
            - LDAP_BINDPW
            - LDAP_FILTER
            - LDAP_VERSION
            - LDAP_TLS_CIPHERS
            - LDAP_TLS_CHECK_PEER
            - LDAP_TLS_CACERT_FILE
            - LDAP_TLS_CACERT_DIR
            - LDAP_START_TLS
            - LDAP_URL
            - LDAP_USE_TLS
            - PUBLIC_URL
            - TURN_CREDENTIALS
            - TURN_HOST
            - TURNS_HOST
            - TURN_PORT
            - TURNS_PORT
            - TZ
            - XMPP_DOMAIN
            - XMPP_AUTH_DOMAIN
            - XMPP_GUEST_DOMAIN
            - XMPP_MUC_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_MODULES
            - XMPP_MUC_MODULES
            - XMPP_INTERNAL_MUC_MODULES
            - XMPP_RECORDER_DOMAIN
            - XMPP_CROSS_DOMAIN
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_SERVER}

    focus:
        image: jitsi/jicofo:stable-6726-2
        depends_on:
            - xmpp
        volumes:
            - ${CONFIG}/jicofo:/config:Z
        environment:
            - AUTH_TYPE
            - BRIDGE_AVG_PARTICIPANT_STRESS
            - BRIDGE_STRESS_THRESHOLD
            - ENABLE_AUTH
            - ENABLE_AUTO_OWNER
            - ENABLE_CODEC_VP8
            - ENABLE_CODEC_VP9
            - ENABLE_CODEC_H264
            - ENABLE_OCTO
            - ENABLE_RECORDING
            - ENABLE_SCTP
            - ENABLE_AUTO_LOGIN
            - JICOFO_AUTH_USER
            - JICOFO_AUTH_PASSWORD
            - JICOFO_ENABLE_BRIDGE_HEALTH_CHECKS
            - JICOFO_CONF_INITIAL_PARTICIPANT_WAIT_TIMEOUT
            - JICOFO_CONF_SINGLE_PARTICIPANT_TIMEOUT
            - JICOFO_ENABLE_HEALTH_CHECKS
            - JICOFO_SHORT_ID
            - JICOFO_RESERVATION_ENABLED
            - JICOFO_RESERVATION_REST_BASE_URL
            - JIBRI_BREWERY_MUC
            - JIBRI_REQUEST_RETRIES
            - JIBRI_PENDING_TIMEOUT
            - JIGASI_BREWERY_MUC
            - JIGASI_SIP_URI
            - JVB_BREWERY_MUC
            - MAX_BRIDGE_PARTICIPANTS
            - OCTO_BRIDGE_SELECTION_STRATEGY
            - SENTRY_DSN="${JICOFO_SENTRY_DSN:-0}"
            - SENTRY_ENVIRONMENT
            - SENTRY_RELEASE
            - TZ
            - XMPP_DOMAIN
            - XMPP_AUTH_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_MUC_DOMAIN
            - XMPP_RECORDER_DOMAIN
            - XMPP_SERVER
        networks:
            meet.jitsi:
                aliases:
                    - ${JICOFO}
    jvb:
        image: jitsi/jvb:stable-6726-2
        depends_on:
            - xmpp
        ports:
            - '${JVB_PORT}:${JVB_PORT}/udp'
            - '${JVB_TCP_PORT}:${JVB_TCP_PORT}'
        volumes:
            - ${CONFIG}/jvb:/config:Z
        environment:
            - DOCKER_HOST_ADDRESS
            - ENABLE_COLIBRI_WEBSOCKET
            - ENABLE_OCTO
            - JVB_AUTH_USER
            - JVB_AUTH_PASSWORD
            - JVB_BREWERY_MUC
            - JVB_PORT
            - JVB_MUC_NICKNAME
            - JVB_TCP_HARVESTER_DISABLED
            - JVB_TCP_PORT
            - JVB_TCP_MAPPED_PORT
            - JVB_STUN_SERVERS
            - JVB_OCTO_BIND_ADDRESS
            - JVB_OCTO_PUBLIC_ADDRESS
            - JVB_OCTO_BIND_PORT
            - JVB_OCTO_REGION
            - JVB_WS_DOMAIN
            - JVB_WS_SERVER_ID
            - PUBLIC_URL
            - SENTRY_DSN="${JVB_SENTRY_DSN:-0}"
            - SENTRY_ENVIRONMENT
            - SENTRY_RELEASE
            - COLIBRI_REST_ENABLED
            - SHUTDOWN_REST_ENABLED
            - TZ
            - XMPP_AUTH_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_SERVER
        networks:
            meet.jitsi:
                aliases:
                    - ${JVB_SERVER}
    jitsi-nginx:
        image: nginx:1.20
        depends_on:
            - jvb
            - xmpp
        ports:
            - 8280:80
            - 8243:443
        volumes:
            - ./jitsi/.docker/nginx-dev/default.conf.template:/etc/nginx/templates/default.conf.template
            - ./.certs:/usr/app/.certs:ro,cached
        environment:
            - NGINX_CUSTOM_JITSI_CORS_URL
            - XMPP_SERVER
            - XMPP_DOMAIN
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_DOMAIN}

    # EXTRA
    mysql:
        image: mysql:5.7
        ports:
            - 8336:3306
        environment:
            - MYSQL_DATABASE
            - MYSQL_USER
            - MYSQL_PASSWORD
            - MYSQL_ROOT_PASSWORD
        networks:
            meet.jitsi:
    mailhog:
        image: mailhog/mailhog
        ports:
            - 8025:8025
        networks:
            meet.jitsi:

networks:
    meet.jitsi:
