# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
public/media/
var/
vendor/
coverage/

/.php-cs-fixer.php
/.php-cs-fixer.cache

/phpunit.xml
.phpunit.result.cache

.phpunit
.phpunit.result.cache
.phpunit.cache
/phpunit.xml
