# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            uuid: Ramsey\Uuid\Doctrine\UuidType
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App\Core:
                is_bundle: false
                dir: '%kernel.project_dir%/packages/Core/src/Entity'
                prefix: 'App\Core\Entity'
                alias: App\Core
            App\Fishbowl:
                is_bundle: false
                dir: '%kernel.project_dir%/packages/Fishbowl/src/Entity'
                prefix: 'App\Fishbowl\Entity'
                alias: App\Fishbowl
            App\WorldCafe:
                is_bundle: false
                dir: '%kernel.project_dir%/packages/WorldCafe/src/Entity'
                prefix: 'App\WorldCafe\Entity'
                alias: App\WorldCafe
