# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

lexik_jwt_authentication:
    secret_key: "%env(JWT_SECRET_KEY)%"
    encoder:
        signature_algorithm: HS256
