# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

sonata_user:
    class:
        user: App\Core\Entity\SonataUserUser
    impersonating:
        route: sonata_admin_dashboard
    resetting:
        email:
            address: '%env(MAILER_FROM)%'
            sender_name: Backoffice
