# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

sonata_admin:
    title: "Stooa"
    show_mosaic_button: false
    security:
        handler: sonata.admin.security.handler.role
    dashboard:
        groups:
            users:
                label: Users
                icon: <i class="fa fa-users"></i>
                on_top: true
                items:
                    - sonata.user.admin.user
            stooa:
                label: Stooa
                items:
                    - App\Admin\UserAdmin
                    - App\Admin\FishbowlAdmin
                    - App\Admin\ResetPasswordRequestAdmin
                    - App\Admin\ParticipantAdmin

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.user.block.menu:
        sonata.user.block.account:
        sonata.admin.block.admin_list:
        sonata.admin.block.search_result:
            contexts: [admin]
