# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

# This workflow runs PHP static analyzers like PHPStan and Psalm to ensure the quality of the PHP code.

name: Backend quality assurance

on:
    pull_request:

    push:
        branches:
            - main

jobs:
    backend-qa:
        name: PHP ${{ matrix.php }}

        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: backend

        strategy:
            matrix:
                php: ['8.2']

        steps:
            - name: Checkout the repository to Github workspace
              uses: actions/checkout@v3

            - name: Setup the PHP environment
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
                  tools: cs2pr, composer
                  ini-values: date.timezone=Europe/Madrid

            - name: Install all Composer dependencies
              uses: ramsey/composer-install@v2
              with:
                  working-directory: backend

            - name: Run PHPUnit to generate a compiled container for PHPStan
              run: vendor/bin/phpunit

            - name: Run PHPStan
              run: composer phpstan

            - name: Run Psalm
              run: composer psalm -- --threads=$(nproc) --output-format=github --shepherd
