# This file is part of the Stooa codebase.
#
# (c) 2020 - present Runroom SL
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

# This workflow runs all Javascript tests using Jest.

name: Frontend tests

on:
    pull_request:

    push:
        branches:
            - main

jobs:
    frontend-unit-test:
        name: Node ${{ matrix.node }} - Unit

        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: frontend

        strategy:
            matrix:
                node: ['18.11']

        steps:
            - name: Checkout the repository to Github workspace
              uses: actions/checkout@v3

            - name: Setup the Node environment
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}

            - name: Install all NPM dependencies
              uses: bahmutov/npm-install@v1
              with:
                  working-directory: frontend

            - name: Execute Jest Unit tests
              run: npm run test -- --coverage

            - name: Send coverage to Codecov
              uses: codecov/codecov-action@v3

    frontend-e2e-test:
        name: Node ${{ matrix.node }} - E2E

        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: frontend

        strategy:
            matrix:
                node: ['18.11']

        steps:
            - name: Checkout the repository to Github workspace
              uses: actions/checkout@v3

            - name: Setup the Node environment
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}

            - name: Install all NPM dependencies
              uses: bahmutov/npm-install@v1
              with:
                  working-directory: frontend

            - name: Execute Cypress E2E tests
              uses: cypress-io/github-action@v6
              with:
                install: false
                build: npm run build
                start: npm run start
                wait-on: 'http://localhost:3000'
                parallel: ${{ github.ref == 'refs/heads/main' }}
                record: ${{ github.ref == 'refs/heads/main' }}
                working-directory: frontend
              env:
                CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
